<!DOCTYPE html>

<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/style/style.css">
		<title>File-Server</title>
	</head>
	<body>
		<%= yield %>
	</body>
</html>
